---
import Layout from "../../layouts/Layout.astro";
import { getYouTubeEmbedUrl } from "../../utils/youtube";

const nombre = "Felipe Fidanza";
const linkVideo = "https://www.youtube.com/shorts/g9xo1EmQOJg";

const embedUrl = getYouTubeEmbedUrl(linkVideo);
---

<Layout
  title=`Perfil de ${nombre}`
  description="Felipe Fidanza, actualmente (2025) estudiante del último año de  ingenieria en sistemas, programador.">
  <main>
    <section>
      <div class="video-container">
        <iframe
          id={`video-${nombre.replace(/\s+/g, "")}`}
          src={embedUrl}
          title={`Video de ${nombre}`}
          frameborder="0"
          loading="lazy"
          fetchpriority="low"
          allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="blog-wrapper">
        <h1>{nombre}</h1>
        <p>
          Estudiante de 5to año de Ingeniería en Sistemas de Información. Me interesan las tecnologías emergentes y estoy siempre dispuesto a aprenderlas y a innovar. Dentro de un equipo, me gusta coordinar a las personas y comunicarme con ellas, siempre para intentar llegar a un acuerdo para la toma de decisiones. Actualmente soy desarrollador de software. Me gustaría en un futuro próximo formar una startup en la zona con base tecnológica. 
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .video-container {
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    overflow: hidden;
    background: #000;

    margin-top: 9rem;

    --max-width: 1020px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
</style>
