---
import Layout from "../../layouts/Layout.astro";
import { getYouTubeEmbedUrl } from "../../utils/youtube";

const nombre = "Lautaro Faccini";
const linkVideo = "https://youtu.be/lEB0HQHBKn4";

const embedUrl = getYouTubeEmbedUrl(linkVideo);
---

<Layout
  title=`Perfil de ${nombre}`
  description="Lautaro Faccini, estudiante de  ingenieria en sistemas, programador y músico.">
  <main>
    <section>
      <div class="video-container">
        <iframe
          id={`video-${nombre.replace(/\s+/g, "")}`}
          src={embedUrl}
          title={`Video de ${nombre}`}
          frameborder="0"
          loading="lazy"
          fetchpriority="low"
          allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="blog-wrapper">
        <h1>{nombre}</h1>
        <p>
          Soy estudiante de Ingeniería en Sistemas de Información, apasionado por la tecnología y siempre en búsqueda de aprender cosas nuevas. Dentro del equipo me destaco por mi liderazgo, responsabilidad y buena comunicación, aportando organización y claridad en el trabajo grupal. Tengo experiencia en desarrollo web y un fuerte interés en seguir creciendo en este campo, además de sumar creatividad gracias a mis intereses en la música y los videojuegos.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .video-container {
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    overflow: hidden;
    background: #000;

    margin-top: 9rem;

    --max-width: 1020px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
</style>
